.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 40px;
    background-image: linear-gradient(to right top, #000000, #131313, #1f1f1f, #2c2c2c, #393939, #484848, #575757, #676767, #7d7d7d, #949494, #acacac, #c4c4c4);
    position: fixed;
    z-index: 999;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.tab{
    font-size: 12px;
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 2px;
    margin: 8px;
}

.badboys{
    color: #FDC401;
    font-family: 'Gill Sans', sans-serif;
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 2px;
    margin: 10px;
}

@media only screen and (min-width: 600px) {
    .header {
      flex-direction: row;
      padding: 10px 40px;
    }
  
    .badboys {
      font-size: 30px;
      letter-spacing: 2px;
    }
  }