<div class="header">
  <div
    style="display: flex; flex-direction: row; gap: 12px; align-items: center"
  >
    <div style="width: 55px; height: 55px">
      <img
        src="../../assets/images/bb-logo.png"
        alt="logo" 
        style="width: 100%; height: 100%"
      />
    </div>
    <div class="badboys">BADBOYS</div>
  </div>
  <div
    style="display: flex; flex-direction: row; gap: 20px; align-items: center"
  >
    <div class="tab">WHAT WE DO</div>
    <div class="tab">OUR STORY</div>
    <div class="tab">ABOUT</div>
    <div class="tab">BLOG</div>
    <div class="tab">CONTACT</div>
  </div>
</div>
